<!doctype html>
<html>
    <head>
        <title>MySmartHome</title>
        <link rel="stylesheet" type="text/css" href="css/styles.css">
    </head>
    <body>
        <header>
            <img src="smart-home.jpg" alt="Smart home" id="mainLogo">
        </header>
        <h1>MySmartHome</h1>
        <p>Welcome to <strong>your</strong> MySmartHome web application.</p>
        
        <h3>MENU</h3>

        <div class="navGrid">
        <div><h4>About MySmartHome</h4>
            <p><em><a href = "/about">About</a></em></p>
        </div>
        <div><h4>Device Status</h4>
            <p><em><a href = "/status">Device Status</a></em></p>
        </div>
        <div><h4>Add Device</h4>
            <p><em><a href = "/adddevice">Add a device</a></em></p>
        </div>
        <div><h4>Control Device</h4>
            <p><em><a href = "/control">Control device</a></em></p>
        </div>
        <div><h4>Delete Device</h4>
            <p><em><a href = "/deletedevice">Delete device</a></em></p>
        </div>
        </div>

    </body>
</html>