<!doctype html>
<html>
    <head>
        <title>MySmartHome</title>
        <link rel="stylesheet" href="./styles.css">
    </head>
    <body>
        <h4>This is this Search</strong> page:</h4>
        <p>This is an <em>example</em> paragraph.</p>
            <form action = "/search-result-db" method= "GET">
            <input id = "search-box" type = "text" name = "keyword" value = "default">
            <input type = "submit" value = "Submit">
        </form>

        <h3>MENU</h3>
        <div class="navGrid">
            <div><h4>Home</h4>
                <p><em><a href = "/">Home</a></em></p>
            </div>
            <div><h4>About your MySmartHome application:</h4>
                <p><em><a href = "/about">About</a></em></p>
            </div>
            <div><h4>Device Status</h4>
                <p><em><a href = "/status">Device Status</a></em></p>
            </div>
            <div><h4>Add Device</h4>
                <p><em><a href = "/adddevice">Add a device</a></em></p>
            </div>
            <div><h4>Control Device</h4>
                <p><em><a href = "/control">Control device</a></em></p>
            </div>
            <div><h4>Delete Device</h4>
                <p><em><a href = "/deletedevice">Delete device</a></em></p>
            </div>
            </div>

    </body>
</html>